html {
    font-family: Raleway;
}

/* HEADER CONFIGURATION INFORMATION*/

.header {
    display: block;
    width: 99%;
    margin-bottom: 15%;
}

.headingText {
    text-align: center;
    font-family: Raleway;
    font-size: 20pt;
    display: inline-block;
}

.headerRow {
    width: 100%;
    text-align: center;
}

.headerRowText {
    text-align: center;
    display: inline-block;
    font-family: Raleway;
    font-size: 13pt;
    margin-left: 1%;
    margin-right: 1%;
    color: #333333;
}

#leftBracket {
    display: inline-block;
}

/*GUTS*/

.bodyData {
    display: block;
}

.jumboText p {
    font-family: Raleway;
    font-size: 50pt;
    color: #333333;
    text-align: center;
}

#topBody {
    font-size: 50pt;
}

#bottomBody {
    line-height: .01em;
    margin-bottom: 5%;
    font-family: Raleway-IT;
    font-size: 25pt;
}

/*FOOTER CONFIGURATION DATA*/

.footer {
    text-align: center;
}

.footerRowText {
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    color: whitesmoke;
}

/*FONT DATA*/
@font-face {
    font-family: Raleway;
    src: url("misc/RalewayFont/Raleway-inUse.ttf");
}

@font-face {
    font-family: Raleway-IT;
    src: url("misc/RalewayFont/Raleway-Italic.ttf");
}

/*BACKGROUND*/

html { 
  background: url(images/siteBackground2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*IMAGE SCALING*/

.footerImage {
    align-content: center;
    height: 8em;
    width: 8em;
    border: 5px ridge rgba(255, 255, 255, 0);
    border-radius: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}
